<h1 mat-dialog-title>Add Password</h1>
<div mat-dialog-content>
    <form [formGroup]="passwordAdd">
    <mat-form-field style="margin-top: 5px;" appearance="outline">
        <mat-label>Category</mat-label>
        <input formControlName="category" matInput placeholder="work">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>App</mat-label>
        <input formControlName="app" matInput placeholder="facebook">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="userName" matInput placeholder="example@example.com">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="encryptedPassword" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint *ngIf="!passwordInput">Enter your password</mat-hint>
    </mat-form-field>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addPassword()">{{actionButton}}</button>
    </div>
</form>
</div>
